body.home{
    font-family:monospace; font-size:17px ;font-weight: bold;
    color: white;
    background-image: url("/static/images/image.png");
    background-size: cover;
    
  }
.profile-info ul li{
  list-style: none;

}

.new-transaction{
  margin-right: 20px;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 15%; /* Full width */
  padding: px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}

input[type=number], select, textarea {
  width: 15%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}

input[type=date], select, textarea {
  width: 15%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}

input[type=float], select, textarea {
  width: 15%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}
.button {
  border-radius: 12px;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete{
  background-color: #4CAF50; /* Green */
}
.edit{
  background-color: lightcoral;
  display: flex;
  
}

.balance{
  background-color: rgb(155, 45, 146);
  margin-left: 100px;
}

.transaction-buttons{
  display: flex;
  justify-content: right;
  align-items:center
}
.category-buttons{
  display: flex;
  justify-content: center;
  align-items:center;
  
}

.merchant-table{
  display: flex;
  flex-direction: row;

}
.merchant-table li{
  list-style: none;
  margin-right: 20px;
  padding: 20px;

}

.merchant-table li a{
  color: #fff;
  display: flex;
  justify-content: center;

}

.merchants-data{
  border-radius: 12px;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(128, 172, 180);
}

.category-table{
  display:flex ;
  flex-direction: row;

}

.category-table li{
  list-style: none;
  margin-right: 20px;
  padding: 20px;
}

.category-table li a{
  color: #fff;
  display: flex;
  justify-content: center;
}

.category-data{
  border-radius: 12px;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(128, 172, 180);
}

.transaction-table{
  border-radius: 12px;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(128, 172, 180);
}

/* .transaction-table h2{
  margin-right: 100px;
} */

.transaction-table td{
  /* border: 1px solid black; */
  margin-right: 20px;
  padding: 20px;
}


h1{
  color: rgb(238, 0, 0);
  font-weight: bold; 
  display: flex;
  justify-content: center;
}

.welcome{
  display: flex;
  align-content: center;

}

/* Referenced from https://css-tricks.com/solved-with-css-dropdown-menus/ */
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

nav ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: 55px
}

nav li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
nav li a {
  color: #fff;
  line-height: 10px;
}

nav li:hover {
  background: red;
  cursor: pointer;
}

nav ul li ul{
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}


nav ul li:hover > ul, 
 nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li .dropdown1{
  clear: both;
  width: 100%;
}

nav ul li .dropdown2{
  clear: both;
  width: 100%;
}