{% extends "base.html" %}

{% block content %}
<h1> {{ category.name }}</h1>

<h2>Recent Transactions</h2>

<table class=category-data>
    <tr>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        {% if transaction.category.name == category.name %}
            <td> {{ transaction.merchant.name }}</td>
            <td> {{ transaction.amount }}</td>
            <td> {{ transaction.description }}</td>
            <td> {{ transaction.date.strftime("%a, %d,%b, %Y") }}</td>
         {% endif %}
    </tr>
    </tr>
    {% endfor %}
</table>

<h2> Monthly Budget </h2>
<h3>£ {{ category.budget }}</h3>

<h2>Remaining Budget</h2>
<h3>£ {{ remaining_budget }}</h3>

{% endblock %}