{% extends "base.html" %}

{% block content %}

<form action="/profiles/{{profile.id}}" method="post">
  <div>
      <label for="balance">Current Balance</label>
      <input type="float" id="balance" name="balance" value="{{profile1.balance}}" required>
  </div>

  <button type="submit">Update Balance</button>

  <div>
      <label for="total_budget">Current Monthly Budget</label>
      <input type="float" id="total_budget" name="total_budget" value="{{profile1.total_budget}}" required>
  </div>

  <button type="submit">Update Balance</button>

</form>

{% endblock %}