{% extends "base.html" %}

{% block content %}

<div class ="profile-info">
    {% for profile in profiles %}

    {% set current_balance = profile.balance - total_amount %}
    <ul>
        <li>Monthly Start Off Balance: £{{profile.balance}}</li>

        <li>Current Balance: £{{'%0.2f' % current_balance|float}}</li>

        <li>Monthly Budget: £{{sum_of_budgets}}</li>

    </ul>
</div>

<form class="edit-form" action="/profiles/{{profile.id}}/edit" method="GET">
    <td><button class="button balance"type="submit">Edit Balance</button></td>
</form>
Total Spent This Month: £{{total_amount}}


{% endfor %}

{% endblock %}