{% extends "base.html" %}

{% block content %}
<h1> {{merchant.name}} </h1>

<h2> Recent Transactions</h2>

<table>
    <tr>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        {% if transaction.merchant.name == merchant.name %}
            <td> {{ transaction.merchant.name }}</td>
            <td> {{ transaction.amount }}</td>
            <td> {{ transaction.date.strftime("%x") }}</td>
            <td> {{ transaction.category.name }}</td>
        {% endif %}
    </tr>
    
    {% endfor %}
</table>
{% endblock %}