{% extends "base.html" %}

{% block content %}
<h1> {{merchant.name}} </h1>

<h2> Recent Transactions</h2>

<table class="merchants-data">
    <tr>
        <th><h2>Merchant</h2></th>
        <th><h2>Amount</h2></th>
        <th><h2>Date</h2></th>
        <th><h2>Category</h2></th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        {% if transaction.merchant.name == merchant.name %}
            <td> {{ transaction.merchant.name }}</td>
            <td> {{ transaction.amount }}</td>
            <td> {{ transaction.date.strftime("%a, %d,%b, %Y") }}</td>
            <td> {{ transaction.category.name }}</td>
        {% endif %}
    </tr>
    
    {% endfor %}
</table>
{% endblock %}