{% extends "base.html" %}

{% block content %}
<h1> Recent Transactions</h1>

<table>
    <tr>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Tag</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td> {{ transaction.merchant.name }}</td>
        <td> {{ "£%.2f"|format(transaction.amount) }}</td>
        <td> {{ transaction.category.name }}</td>
        <td> {{ transaction.description }} </td>
        <td> {{ transaction.date.strftime("%a, %d,%b, %Y") }}</td>
    </tr>




    <tr>
        <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST">
        <td><button type="submit">Delete Transaction</button></td>
        </form>
    </tr>
    {% endfor %}


    Total:{{ total }}


    





    
    
    


    

    

    
</table>
{% endblock %}