{% extends "base.html" %}

{% block content %}
<body class="transactions-background">
    <h1> Recent Transactions</h1>

    <form action="/transactions">
        <select name="month">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <button type=submit>Filter by month</button>
    </form>


    <table class="transaction-table">
            <tr>
                <th><h2>Merchant</h2></th>
                <th><h2>Amount</h2></th>
                <th><h2>Category</h2></th>
                <th><h2>Description</h2></th>
                <th><h2>Date</h2></th>
                <th><h2>ACTIONS</h2></th>
            </tr>
        {% for transaction in transactions %}
            <tr>
                <td> {{ transaction.merchant.name }}</td>
                <td> {{ "£%.2f"|format(transaction.amount) }}</td>
                <td> {{ transaction.category.name }}</td>
                <td> {{ transaction.description }}</td>
                <td> {{ transaction.date.strftime("%a, %d,%b, %Y") }}</td>
                <td> 
                    <div class="transaction-buttons">
                        <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST">
                            <button class="button delete" type="submit">Delete</button>
                        </form>
                    
                        <form class="edit-form" action="/transactions/{{transaction.id}}/edit" method="GET">
                            <button type="submit" class="button edit" >Edit</button>
                        </form>
                
                    </div>
                </td>
            </tr> 
        {% endfor %}
    </table>
</body>






    Total:{{ "£%.2f"|format(total_amount) }}


{% endblock %}